@import 'libs/ui/core';

.-header {
  height: 80px;
  border-bottom: 1px solid map-get($palette-grey, 200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;

  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

    &__project {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;

      &__color {
        width: 21px;
        height: 21px;
        border-radius: 6px;
        background-color: map-get($palette-auxiliaries-blue, 500);
      }
    }
  }

  &__options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 5%;

    &__button {
      background-color: map-get($palette-primary, 50);
      color: map-get($palette-primary, 500);
      padding: 20px;
      border-radius: 10px;

      &__elements {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5%;

        span {
          white-space: nowrap;
        }
      }
    }
  }
}
