<lib-dialog-template
  [cTitle]="title"
  [isFooterEnabled]="true"
  (closeDialog)="cancel()"
  [isLoading]="isLoading"
  [isError]="hasErrors"
>
  <div body>
    <form class="p-0 -form" [formGroup]="formHelper.form">
      <div class="row mb-2">
        <mat-form-field class="col -form__field" appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Nome" formControlName="name" />
          <mat-error *ngFor="let error of [RT_FORM_ERRORS['REQUIRED']]">
            <div *ngIf="formHelper.form.controls['name'].hasError(error.name)">
              {{ error.message }}
            </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col -form__field" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" />
          <mat-error
            *ngFor="let error of [RT_FORM_ERRORS['REQUIRED'], RT_FORM_ERRORS['EMAIL']]"
          >
            <div *ngIf="formHelper.form.controls['email'].hasError(error.name)">
              {{ error.message }}
            </div>
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div footer class="-footer">
    <button
      *ngIf="!isCreating"
      (click)="deleteEntity()"
      class="rt-btn -footer__button -footer__button--delete"
      mat-button
      type="button"
    >
      Elimina
    </button>
    <lib-rt-dialog-default-actions
      (confirm)="onSubmit()"
      (cancel)="cancel()"
    ></lib-rt-dialog-default-actions>
  </div>
</lib-dialog-template>
