<controllo-ore-x-upsert-template [page]="this" [isMoreOptionHidden]="false">
  <div body class="-wrapper">
    <div class="-wrapper-user-upsert">
      <form class="container" [formGroup]="formHelper.form">
        <div class="row mb-2 -wrapper-user-upsert-form">

          <mat-form-field class="col" appearance="outline">
            <mat-label>Cliente</mat-label>
            <mat-select
              matInput
              placeholder="Cliente"
              formControlName="customer"
              [(value)]="currentCustomer"
              (selectionChange)="onSelectedCustomer()"
              >
              <mat-option
                *ngFor="let customer of customers"
                [value]="customer"
              >
                {{ customer.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngFor="let error of [RT_FORM_ERRORS['REQUIRED']]">
              <div
                *ngIf="formHelper.form.controls['customer'].hasError(error.name)"
              >
                {{ error.message }}
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="col" appearance="outline">
            <mat-label>Progetto</mat-label>
            <mat-select
              matInput
              placeholder="Progetto"
              formControlName="project"
              [(value)]="currentProject"
              (selectionChange)="onSelectedProject()"
            >
              <mat-option
                *ngFor="let project of projects"
                [value]="project"
              >
                {{ project.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngFor="let error of [RT_FORM_ERRORS['REQUIRED']]">
              <div
                *ngIf="formHelper.form.controls['project'].hasError(error.name)"
              >
                {{ error.message }}
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="col" appearance="outline">
            <mat-label>Release</mat-label>
            <mat-select
              matInput
              placeholder="Release"
              formControlName="release"
              [(value)]="currentRelease"
            >
              <mat-option
                *ngFor="let release of releases"
                [value]="release"
              >
                {{ release.version }}
              </mat-option>
            </mat-select>
            <mat-error *ngFor="let error of [RT_FORM_ERRORS['REQUIRED']]">
              <div
                *ngIf="formHelper.form.controls['release'].hasError(error.name)"
              >
                {{ error.message }}
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="col" appearance="outline">
            <mat-label>Note</mat-label>
            <input matInput placeholder="Note" formControlName="notes" />
            <mat-error *ngFor="let error of [RT_FORM_ERRORS['REQUIRED']]">
              <div *ngIf="formHelper.form.controls['notes'].hasError(error.name)">
                {{ error.message }}
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="col" appearance="outline">
            <mat-label>Ore</mat-label>
            <input type="number" matInput placeholder="Ore" formControlName="hours" />
            <mat-error *ngFor="let error of [RT_FORM_ERRORS['REQUIRED']]">
              <div *ngIf="formHelper.form.controls['hours'].hasError(error.name)">
                {{ error.message }}
              </div>
            </mat-error>
          </mat-form-field>

          <!-- <mat-form-field class="col" appearance="outline"> -->
          <mat-radio-group required formControlName="hoursTag">
            <mat-radio-button color="primary" *ngFor="let hoursTag of hoursTags" [value]="hoursTag">
              {{ hoursTag.name }}
            </mat-radio-button>
          </mat-radio-group>
          <mat-error *ngFor="let error of [RT_FORM_ERRORS['REQUIRED']]" class="-radio-error">
            <div *ngIf="formHelper.form.controls['hoursTag'].hasError(error.name)">
              {{ error.message }}
            </div>
          </mat-error>
          <!-- </mat-form-field> -->

        </div>
      </form>
    </div>
  </div>
</controllo-ore-x-upsert-template>