<cox-dialog-template
  [isLoading]="isLoading"
  [isError]="hasErrors"
  (reFetch)="sendData()"
>
  <div header class="headline-5 -title">Crea nuovo membro</div>

  <div body>
    <form autocomplete="off" [formGroup]="newUserFormGroup" class="-form">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input formControlName="name" matInput required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Cognome</mat-label>
        <input formControlName="surname" matInput required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Ruolo</mat-label>
        <mat-select formControlName="role" required>
          <mat-option *ngFor="let role of roles" [value]="role">
            {{role.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="error-message" *ngIf="hasFormErrors">
        Inserire tutti i campi richiesti
      </div>
    </form>
  </div>

  <div footer>
    <div class="-button-wrapper">
      <button
        mat-stroked-button
        color="primary"
        class="button -cancel-button"
        (click)="navigateBack()"
      >
        Annulla
      </button>
      <button
        mat-flat-button
        color="primary"
        class="button -update-button"
        (click)="sendData()"
      >
        Salva
      </button>
    </div>
  </div>
</cox-dialog-template>
