<lib-dialog-template
  [title]="title"
  [isFooterEnabled]="true"
  (closeDialogEvent)="onCancel()"
  [isLoading]="isLoading"
  [isError]="hasErrors"
>
  <div body>
    <form class="container p-0" [formGroup]="userFormGroup">
      <div class="row mb-2 -wrapper-user-upsert-form">
        <mat-form-field class="col" appearance="outline" class="-form-field">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Nome" formControlName="name" />
          <mat-error *ngFor="let error of [RT_FORM_ERRORS['REQUIRED']]">
            <div *ngIf="getFormControlError('name',error)">
              {{ error.message }}
            </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col" appearance="outline" class="-form-field">
          <mat-label>Cognome</mat-label>
          <input matInput placeholder="Cognome" formControlName="surname" />
          <mat-error *ngFor="let error of [RT_FORM_ERRORS['REQUIRED']]">
            <div *ngIf="getFormControlError('surname',error)">
              {{ error.message }}
            </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col" appearance="outline" class="-form-field">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" />
          <mat-error
            *ngFor="let error of [RT_FORM_ERRORS['REQUIRED'], RT_FORM_ERRORS['EMAIL']]"
          >
            <div *ngIf="getFormControlError('email',error)">
              {{ error.message }}
            </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field
          *ngIf="transactionStatus === 'create'"
          class="col"
          appearance="outline"
          class="-form-field"
        >
          <mat-label>Password</mat-label>
          <div class="-input-with-icon">
            <input
              matInput
              placeholder="Password"
              formControlName="password"
              [type]="isPasswordVisible ? 'text' : 'password'"
            />
            <mat-icon (click)="togglePasswordVisibility()" suffix>
              {{ isPasswordVisible ? 'visibility' : 'visibility_off'
              }}</mat-icon
            >
          </div>

          <mat-error
            *ngFor="let error of [RT_FORM_ERRORS['REQUIRED'], RT_FORM_ERRORS['PASSWORD']]"
          >
            <div *ngIf="getFormControlError('password',error)">
              {{ error.message }}
            </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col" appearance="outline" class="-form-field">
          <mat-label>Ruolo</mat-label>
          <mat-select
            matInput
            placeholder="Ruolo"
            formControlName="role"
            [compareWith]="compareRoleFn"
          >
            <mat-option *ngFor="let role of userRoles" [value]="role">
              {{ role.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngFor="let error of [RT_FORM_ERRORS['REQUIRED']]">
            <div *ngIf="getFormControlError('role',error)">
              {{ error.message }}
            </div>
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div footer class="-container-reset-btns">
    <button
      *ngIf="transactionStatus === 'update'"
      (click)="onDelete()"
      class="rt-btn -button -button-delete"
      mat-button
      type="button"
    >
      Elimina
    </button>
    <lib-rt-dialog-default-actions
      (confirmEvent)="onSubmit()"
      (cancelEvent)="onCancel()"
    ></lib-rt-dialog-default-actions>
  </div>
</lib-dialog-template>
