<lib-dialog-template
  [title]="title"
  [isFooterEnabled]="true"
  (closeDialogEvent)="onCancel()"
  (reFetch)="onReFetch()"
  [isLoading]="isLoading"
  [isError]="hasErrors"
  [errorMessage]="errorMessage"
>
  <div body>
    <form class="-form p-0" [formGroup]="projectFormGroup">
      <div class="row mb-2 -form__fields">
        <mat-form-field class="col" appearance="outline">
          <mat-label>Nome progetto</mat-label>
          <input matInput placeholder="Nome" formControlName="name" />
          <mat-error *ngFor="let error of [RT_FORM_ERRORS['REQUIRED']]">
            <div *ngIf="getFormControlError('name',error)">
              {{ error.message }}
            </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col" appearance="outline">
          <mat-label>Cliente</mat-label>
          <mat-select
            matInput
            placeholder="Cliente"
            formControlName="customer"
            [compareWith]="compareCustomerFn"
          >
            <mat-option
              *ngFor="let projectCustomer of projectCustomers"
              [value]="projectCustomer"
            >
              {{ projectCustomer.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngFor="let error of [RT_FORM_ERRORS['REQUIRED']]">
            <div *ngIf="getFormControlError('customer',error)">
              {{ error.message }}
            </div>
          </mat-error>
        </mat-form-field>

        <button
          mat-flat-button
          *ngIf="transactionStatus === 'create'"
          class="button -form__fields__button"
          (click)="openCreateCustomerDialog()"
        >
          Crea nuovo cliente
        </button>

        <mat-form-field appearance="outline">
          <mat-label>Colore</mat-label>
          <mat-select
            matInput
            placeholder="Colore"
            formControlName="color"
            [compareWith]="compareColorFn"
          >
            <mat-select-trigger>
              <div
                class="-square"
                [style.backgroundColor]="projectFormGroup.get('color')?.value"
              ></div>
            </mat-select-trigger>
            <mat-option *ngFor="let color of colors" [value]="color">
              <div class="-square" [style.backgroundColor]="color"></div>
            </mat-option>
          </mat-select>
          <mat-error *ngFor="let error of [RT_FORM_ERRORS['REQUIRED']]">
            <div *ngIf="getFormControlError('color',error)">
              {{ error.message }}
            </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col" appearance="outline">
          <mat-label>Budget ore</mat-label>
          <input
            type="number"
            matInput
            placeholder="Budget ore"
            formControlName="hoursBudget"
            min="0"
          />
          <mat-error *ngFor="let error of [RT_FORM_ERRORS['REQUIRED']]">
            <div *ngIf="getFormControlError('hoursBudget',error)">
              {{ error.message }}
            </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col" appearance="outline">
          <mat-label>Data di scadenza</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Data di scadenza"
            formControlName="deadline"
          />
          <mat-error *ngFor="let error of [RT_FORM_ERRORS['REQUIRED']]">
            <div *ngIf="getFormControlError('deadline',error)">
              {{ error.message }}
            </div>
          </mat-error>
          <mat-datepicker-toggle matIconSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div footer class="-footer">
    <button
      *ngIf="transactionStatus === 'update'"
      (click)="onDelete()"
      class="rt-btn -footer__button -footer__button--delete"
      mat-button
      type="button"
    >
      Elimina
    </button>
    <lib-rt-dialog-default-actions
      (confirmEvent)="onSubmit()"
      (cancelEvent)="onCancel()"
    ></lib-rt-dialog-default-actions>
  </div>
</lib-dialog-template>
