<controllo-ore-x-index-template
  [page]="this"
  [buttonIcon]="buttonIcon"
  [buttonText]="buttonText"
  [shouldHideCreateButton]="true"
  [hasCalendar]="true"
  [isPageWithTable]="false"
  (openDialogEvent)="openDialogFn($event)"
></controllo-ore-x-index-template>

<lib-rt-table-fulltext-bar
  class="-search-bar"
  (fulltextSearchEvent)="updateFulltextSearch($event)"
>
</lib-rt-table-fulltext-bar>

<div class="-subtitle">
  <div class="-subtitle-text">
    <h2 class="body-1">Ore totali di assenza</h2>
    <span class="headline-5">{{ convertNumberToHours(dayoffsHours) }}</span>
  </div>
  <div>
    <button
      class="-subtitle-button"
      mat-flat-button
      color="primary"
      (click)="createFn()"
    >
      <div class="-subtitle-button-elements">
        <span class="material-symbols-outlined">{{ buttonIcon }}</span>
        <span class="body-2 -subtitle-button-elements-text"
          >{{ buttonText }}</span
        >
      </div>
    </button>
  </div>
</div>

<div class="-table">
  <controllo-ore-x-index-template
    [page]="this"
    [buttonIcon]="buttonIcon"
    [buttonText]="buttonText"
    [shouldHideCreateButton]="true"
    [hasCalendar]="true"
    [isCompletePage]="false"
    [isPageWithTable]="true"
    (openDialogEvent)="openDialogFn($event)"
  ></controllo-ore-x-index-template>
</div>
