<div *ngIf="release" class="-hours-report">
  <div class="-hours-report__element">
    <div class="-hours-report__element__content">
      <div class="body-2 -hours-report__element__content__title">
        Budget ore
      </div>
      <div class="headline-4">
        {{ convertNumberToHours(release.hoursBudget) }}
      </div>
    </div>
  </div>
  <div class="-hours-report__element">
    <div class="-hours-report__element__content">
      <div class="body-2 -hours-report__element__content__title">
        Ore fatturabili
      </div>
      <div class="headline-4">
        {{ convertNumberToHours(release.billableHoursBudget) }}
      </div>
    </div>
  </div>
  <div class="-hours-report__element">
    <div class="-hours-report__element__content">
      <div class="body-2 -hours-report__element__content__title">
        Ore utilizzate
      </div>
      <div class="headline-4">
        {{ convertNumberToHours(hoursExecuted) }}
      </div>
    </div>
  </div>
  <div class="-hours-report__element">
    <div class="-hours-report__element__content">
      <div class="body-2 -hours-report__element__content__title">
        Ore fuori budget
      </div>
      <div
        class="headline-4 -hours-report__element__content__value--highlighted"
      >
        {{ convertNumberToHours(hoursOutOfBudget) }}
      </div>
    </div>
  </div>
</div>

<div *ngIf="tags && tags.length > 0">
  <controllo-ore-x-release-status-data-hours-tag
    [tagWithHours]="tags"
    [totalHours]="hoursExecuted"
  >
  </controllo-ore-x-release-status-data-hours-tag>
</div>
