<div class="-projects-table-header">
  
  <div class="-project-data">
    <div>
      <span class="material-symbols-outlined">expand_more</span>
    </div>
    <div class="-project-data-details">
      <div class="-project-color"></div>
      <div class="body-1">{{ project_name[0] }}</div>
      <div>
        <mat-chip class="caption">{{ customer_name[0] }}</mat-chip>
      </div>
    </div>
  </div>

  <div class="-project-options">
    <button mat-flat-button extended class="-new-release-button">
      <div class="-new-release-elements">
        <span class="material-symbols-outlined">egg_alt</span>
        <span>Nuova Release</span>
      </div>
    </button>
    <span class="material-symbols-outlined -more-vert-icon">more_vert</span>
  </div>
</div>