<div class="-customer-table-line">
    <div class="-space">
    </div>
    <img src="../../../../../../../assets/customer-avatars/addvalue.png" alt="Avatar" class="-avatar">
    <div class="-customer-table-line-data-and-edit">
        <div class="-team-table-line-data">
        <div class="-team-table-line-single-data body-2">{{ name }}</div>
        <div class="-team-table-line-single-data body-2">{{ email }}</div>
        <div class="-team-table-line-single-data body-2">{{ creation_date }}</div>

        </div>
        <div><span class="material-symbols-outlined icon">ink_marker</span></div>
    </div>

  </div>