<div class="-tracker-table-line">
  <div class="-tracker-activity">
    <div class="headline-5">{{ project_name }}</div>
    <div class="body-1">
      <mat-chip class="-release-chip">{{ release_name }}</mat-chip>
    </div>
    <div class="icon-with-text body-1">
      <span class="material-symbols-outlined icon-highlighted"
        >draw_collage</span
      >
      {{ label }}
    </div>
    <div class="-icon-with-text body-1">
      <span class="material-symbols-outlined icon-highlighted">notes</span>
      {{ description }}
    </div>
  </div>

  <div class="-tracker-hours">
    <div class="headline-4">{{ working_hours }}</div>
    <div class="body-2">ore</div>
  </div>

  <div class="-tracker-edit-and-options">
    <div><span class="material-symbols-outlined icon">ink_marker</span></div>
    <div><span class="material-symbols-outlined icon">more_vert</span></div>
  </div>
</div>
