<div class="-tracker-table-line">
  <div class="-tracker-activity">
    <div class="headline-5">{{ userHour.release.project.name }}</div>
    <div class="body-1">
      <mat-chip class="-release-chip">Release {{ userHour.release.version }}</mat-chip>
    </div>
    <div class="-icon-with-text body-1">
      <span class="material-symbols-outlined icon-highlighted">{{ userHour.hoursTag.iconName }}</span>
      {{ userHour.hoursTag.name }}
    </div>
    <div class="-icon-with-text body-1">
      <span class="material-symbols-outlined icon-highlighted">notes</span>
      {{ userHour.notes }}
    </div>
  </div>

  <div class="-tracker-hours">
    <div class="headline-3">{{ convertNumberToHours(userHour.hours) }}</div>
    <div class="body-2">ore</div>
  </div>

  <div class="-tracker-edit-and-options">
    <button mat-icon-button (click)="openEditUserHourDialog()">
      <span class="material-symbols-outlined -edit-button-icon"
        >ink_marker
      </span>
    </button>
    <!-- <div><span class="material-symbols-outlined icon">more_vert</span></div> -->
  </div>
</div>
  