@import 'libs/ui/core/consts.scss';
@import 'libs/ui/core/mixins.scss';
@import '../../../../../../app.component.scss';

.-tracker {
  height: 112px;
  border-bottom: 1px solid map-get($palette-grey, 200);
  display: grid;
  grid-template-columns: 14fr 3fr 2fr;

  &__activity {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    align-items: center;
    padding: 0px 40px;
    border-right: 1px solid map-get($palette-grey, 200);

    &__chip {
      background-color: map-get($palette-auxiliaries-yellow, 500);
    }

    &__element {
      display: flex;
      gap: 5px;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &__hours {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
    border-right: 1px solid map-get($palette-grey, 200);
  }

  &__options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}

.-button-icon {
  color: rgba(0, 0, 0, 0.5);
}
