<controllo-ore-x-rt-header>
  <ng-container title>
    <div class="-container-title-info">
      <button (click)="page.navigateBack()" mat-icon-button>
        <mat-icon color="primary" class="-container-title-info-icon"
          >arrow_back</mat-icon
        >
      </button>
      <h1 class="headline-5">
        {{ dynamicTitle ? dynamicTitle : page.title }}
      </h1>

      <!-- chip  -->
      <div *ngIf="chipLabel" class="-warehouse-upsert-chip">
        {{ chipLabel }}
      </div>

      <!-- breadcrumb -->
      <div *ngIf="!isBreadcrumbHidden" class="--container-title-infobreadcrumb">
        <span class="--container-title-infobreadcrumb-prefix">
          {{ page.breadcrumbPrefix }}
        </span>
        <span> {{ page.breadcrumbSuffix }} </span>
      </div>
    </div>
  </ng-container>

  <ng-container actions>
    <button
      *ngIf="page.transactionStatus === 'update' && !isMoreOptionHidden"
      [matMenuTriggerFor]="optionMenu"
      mat-icon-button
    >
      <mat-icon>more_vert</mat-icon>
    </button>

    <ng-content select="[buttons]"></ng-content>

    <button
      (click)="page.toggleEditing()"
      *ngIf="
        page.transactionStatus === 'update' &&
        page.isEditEnabled &&
        !page.isEditing
      "
      mat-flat-button
      class="hide-mobile"
      color="primary"
    >
      <mat-icon fontIcon="edit"></mat-icon>
      Modifica
    </button>
    <button
      (click)="page.toggleEditing()"
      *ngIf="page.isEditing"
      class="hide-mobile"
      mat-stroked-button
    >
      Annulla
    </button>
    <button
      (click)="page.handleUserSubmission()"
      *ngIf="page.transactionStatus === 'create' || page.isEditing"
      [disabled]="page.formHelper.invalid"
      color="primary"
      class="hide-mobile"
      mat-flat-button
    >
      Salva
    </button>

    <mat-menu #optionMenu="matMenu">
      <ng-content select="[menuOptions]"></ng-content>
      <button
        (click)="page.deleteEntry()"
        *ngIf="page.isDeleteEnabled"
        mat-menu-item
      >
        <mat-icon>delete</mat-icon>
        Elimina
      </button>
    </mat-menu>
  </ng-container>
</controllo-ore-x-rt-header>

<div *ngIf="page.tabs.length" class="tab-menu">
  <ng-container *ngFor="let tab of page.tabs; let index = index">
    <div
      (click)="page.setTab(index)"
      *ngIf="!tab.hideOnCreation || page.transactionStatus === 'update'"
      [class.active]="page.tab === index"
      class="tab-menu-item"
    >
      {{ tab.label }}
      <mat-icon
        class="tab-menu-item-icon"
        *ngIf="tab?.tabForm && tab.tabForm?.invalid"
        >warning</mat-icon
      >
    </div>
  </ng-container>
</div>

<div class="-body">
  <div *ngIf="isLoading || isError" class="-body__layer-loading">
    <!-- loading spinner -->
    <div *ngIf="isLoading" class="square-spinner-loader"></div>
  </div>
</div>
<div class="page-content" *ngIf="!isLoading && !isError">
  <ng-content select="[body]"></ng-content>
</div>
