@import 'libs/ui/core/consts.scss';
@import 'libs/ui/core/mixins.scss';

.-sidebar-wrapper {
    background-color: map-get($palette-grey, 300 );
    width: 256px;
    height: 100%;

    ul{
      margin: 0;
      list-style-type: none;
      padding: 0;
  
      li{
          color: $general-header-color;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: left;
          gap: 7%;
          padding: 0 24px;
      }

      .-selected{
        background-color: map-get($palette-primary , 500 );
        color: #fff;
      }
    
    }

    .menu-subtitle{
        color: rgba(0, 0, 0, 0.25);
        padding: 10px 24px;
        font-size: 12px;
        height: 17px;
        margin: 0;
    }

}