@import 'libs/ui/core/consts.scss';
@import 'libs/ui/core/mixins.scss';

.-header {
  border-top: 1px solid map-get($palette-grey, 300);
  border-bottom: 1px solid map-get($palette-grey, 300);
  padding: 0px 40px;
  height: 46px;
  color: $general-header-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__datas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
    height: 100%;

    &__data {
      padding: 0px 10px;
      height: 100%;
      border-left: 1px solid map-get($palette-grey, 300);
      display: flex;
      align-items: center;
      min-width: 110px;
    }
  }
}
