<div class="-sidebar">
  <ul>
    <li *ngFor="let voice of MAIN_MENU" class="body-1">
      <a
        [routerLink]="voice.routerLink"
        [class.-selected]="setActiveVoice(voice.routerLink)"
      >
        <span class="material-symbols-outlined">{{ voice.iconName }}</span
        >{{ voice.label }}
      </a>
    </li>
  </ul>

  <p class="__menu-subtitle">Amministrazione</p>
  <ul>
    <li *ngFor="let voice of ADMINISTRATION_MENU" class="body-1">
      <a
        [routerLink]="voice.routerLink"
        [class.-selected]="setActiveVoice(voice.routerLink)"
      >
        <span class="material-symbols-outlined">{{ voice.iconName }}</span
        >{{ voice.label }}
      </a>
    </li>
  </ul>

  <p class="__menu-subtitle">Gestione</p>
  <ul>
    <li *ngFor="let voice of MANAGEMENT_MENU" class="body-1">
      <a
        [routerLink]="voice.routerLink"
        [class.-selected]="setActiveVoice(voice.routerLink)"
      >
        <span class="material-symbols-outlined">{{ voice.iconName }}</span
        >{{ voice.label }}
      </a>
    </li>
  </ul>
</div>
