<div class="-sidebar">
  <ul>
    <li *ngFor="let section of MAIN_MENU_SECTIONS" class="body-1">
      <a
        [routerLink]="section.routerLink"
        [class.-selected]="setActiveSection(section.routerLink)"
      >
        <span class="material-symbols-outlined">{{ section.iconName }}</span
        >{{ section.label }}
      </a>
    </li>
  </ul>

  <p class="__menu-subtitle">Amministrazione</p>
  <ul>
    <li *ngFor="let section of ADMINISTRATION_MENU_SECTIONS" class="body-1">
      <a
        [routerLink]="section.routerLink"
        [class.-selected]="setActiveSection(section.routerLink)"
      >
        <span class="material-symbols-outlined">{{ section.iconName }}</span
        >{{ section.label }}
      </a>
    </li>
  </ul>

  <p class="__menu-subtitle">Gestione</p>
  <ul>
    <li *ngFor="let section of MANAGEMENT_MENU_SECTIONS" class="body-1">
      <a
        [routerLink]="section.routerLink"
        [class.-selected]="setActiveSection(section.routerLink)"
      >
        <span class="material-symbols-outlined">{{ section.iconName }}</span
        >{{ section.label }}
      </a>
    </li>
  </ul>
</div>
