@import 'libs/ui/core/consts.scss';
@import 'libs/ui/core/mixins.scss';

.-sidebar {
  height: calc(100vh - 81px);
  background-color: #e9ecf5;
  box-sizing: border-box;
  border-right: 1px solid map-get($palette-grey, 300);

  &__menu-subtitle {
    color: rgba(0, 0, 0, 0.25);
    padding: 10px 24px;
    font-size: 12px;
    height: 17px;
    margin: 0;
  }
}
