@import 'libs/ui/core/consts.scss';
@import 'libs/ui/core/mixins.scss';

.-sidebar {
  height: 100vh;
  background-color: #E9ECF5;
  box-sizing: border-box;
  border-right: 1px solid map-get($palette-grey, 300 );

    ul{
      margin: 0;
      list-style-type: none;
      padding: 0;
  
      li a{
          color: $general-header-color;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: left;
          gap: 7%;
          padding: 0 24px;
          white-space: nowrap;
          text-decoration: none;
      }

      li a:hover{
        color: #000;
        background-color: map-get($palette-primary , 200 );
      }

      li .-selected, li .-selected:hover{
        background-color: map-get($palette-primary , 500 );
        color: #fff;
      }

    }

    & .__menu-subtitle{
        color: rgba(0, 0, 0, 0.25);
        padding: 10px 24px;
        font-size: 12px;
        height: 17px;
        margin: 0;
    }

}
