<div class="-header" *ngIf="release">
  <div class="-header__title">
    <button (click)="navigateBack()" mat-icon-button>
      <mat-icon color="primary">arrow_back</mat-icon>
    </button>
    <div class="headline-5" *ngIf="release" class="-header__title__release">
      <h1 class="headline-5">{{ release.name }}</h1>
      <span class="material-symbols-outlined -header__title__release__icon"
        >egg_alt</span
      >
    </div>
  </div>
  <div class="-header__options">
    <button
      mat-flat-button
      extended
      class="-header__options__button"
      *ngIf="release.isCompleted"
      (click)="toggleCompletion()"
    >
      <div class="-header__options__button__elements">
        <span class="material-symbols-outlined">close</span>
        <span class="body-2">Segna come non completata</span>
      </div>
    </button>
    <button
      mat-flat-button
      extended
      class="-header__options__button"
      *ngIf="!release.isCompleted"
      (click)="toggleCompletion()"
    >
      <div class="-header__options__button__elements">
        <span class="material-symbols-outlined">done</span>
        <span class="body-2">Completa Release</span>
      </div>
    </button>
    <button
      mat-flat-button
      extended
      class="-header__options__button"
      (click)="openEditDialog()"
    >
      <div class="-header__options__button__elements">
        <span class="material-symbols-outlined">ink_marker</span>
        <span class="body-2">Modifica</span>
      </div>
    </button>
  </div>
</div>

<div class="-content">
  <controllo-ore-x-release-status-info
    [releaseId]="releaseId"
    [wasReleaseUpdated]="wasReleaseUpdated"
  >
  </controllo-ore-x-release-status-info>

  <controllo-ore-x-release-status-data
    [releaseId]="releaseId"
    [wasReleaseUpdated]="wasReleaseUpdated"
  ></controllo-ore-x-release-status-data>

  <controllo-ore-x-report-template
    [page]="this"
    [hasSubtitle]="false"
  ></controllo-ore-x-report-template>
</div>
