<div class="-report-table-filter">
  <div class="-filters-container">
    <controllo-ore-x-report-single-filter
      *ngFor="let dataForFilter of dataForFilters"
      [fieldName]="dataForFilter.fieldName"
    ></controllo-ore-x-report-single-filter>
    <!-- (change)="formEmitter(filter, $event)" -->
  </div>

  <div class="-filter-options">
    <button
      mat-flat-button
      class="body-2 -button -reset-button"
      (click)="resetFn()"
    >
      Reset filtri
    </button>
    <button
      mat-flat-button
      color="primary"
      class="body-2 -button"
      (click)="applyFn()"
    >
      Applica filtri
    </button>
  </div>
</div>

<div *ngIf="areFiltersActive" class="-filter-list">
  <div *ngFor="let dataForFilter of dataForFilters">
    <mat-chip-row
      *ngFor="let element of dataForFilter.formControl.value"
      (removed)="remove(dataForFilter, element)"
    >
      {{ element.name }}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
  </div>
</div>
