<div class="-report-table-filter">
  <div class="-filters-container">
    <controllo-ore-x-report-single-filter
      *ngFor="let filter of filters"
      [singleLabel]="filter.singleLabel"
      [multiLabel]="filter.multiLabel"
      [fieldName]="filter.fieldName"
      [list]="filter.list"
      [formControl]="filter.formControl"
      (change)="formEmitter(filter, $event)"
    ></controllo-ore-x-report-single-filter>
  </div>

  <div class="-filter-options">
    <button
      mat-flat-button
      class="body-2 -button -reset-button"
      (click)="resetFn()"
    >
      Reset filtri
    </button>
    <button
      mat-flat-button
      color="primary"
      class="body-2 -button"
      (click)="applyFn()"
    >
      Applica filtri
    </button>
  </div>
</div>

<div *ngIf="areFiltersActive" class="-filter-list">
  <div *ngFor="let activeFilter of activeFilters">
    <mat-chip-row
      *ngFor="let element of activeFilter.list"
      (removed)="remove(activeFilter, element)"
    >
      {{ element }}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
  </div>
</div>
