<div class="-global-topbar">
  <div class="-menu-and-logo-section">
    <button
      mat-icon-button
      color="transparent"
      class="-menu-btn"
      (click)="toggleVisibility()"
    >
      <span class="material-symbols-outlined">menu</span>
    </button>
    <h1 class="headline-6">ControllooreX</h1>
  </div>

  <div class="-option-section">
    <div class="-option-section-item">
      <mat-chip class="-current-time-chip">
        <div class="-current-time-chip-content">
          <span class="material-symbols-outlined">schedule</span>
          <span class="headline-6">{{ currentTime }}</span>
        </div>
      </mat-chip>
    </div>
    <div class="-option-section-item">
      <button mat-flat-button class="-change-theme-button">
        <span class="material-symbols-outlined">nights_stay</span>
      </button>
    </div>
    <div class="-option-section-item">
      <button mat-flat-button class="-alarm-button">
        <span class="material-symbols-outlined">alarm_smart_wake</span>
      </button>
    </div>
    <div class="-option-section-item" *ngIf="user">
      <button
        mat-button
        [matMenuTriggerFor]="user_menu"
        class="-user-menu-button"
      >
        <div class="-user-menu-button-content">
          {{ user.name }} {{ user.surname }}
          <span class="material-symbols-outlined">arrow_drop_down</span>
        </div>
      </button>
      <mat-menu #user_menu="matMenu">
        <button mat-menu-item (click)="logout()">
          <span>Esci</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
