<div class="-release-table-line">
  <div class="-release-table-line-data">
    <div
      class="body-1 -line-element"
      [ngClass]="{ '-crossed-out': release.isCompleted }"
    >
      {{ release.version }}
    </div>
    <div class="body-1 -expiration-date -line-element">{{ deadline }}</div>
    <div class="-release-progress-bar-section -line-element">
      <mat-progress-bar
        class="-release-progress-bar"
        mode="determinate"
        value="{{ (100 * hoursExecuted) / release.hoursBudget }}"
      ></mat-progress-bar>
      <div class="body-1 -hours-details">
        <div class="-hours-executed">
          {{ convertNumberToHours(hoursExecuted) }}&nbsp;/&nbsp;
        </div>
        <div class="-hours-planned">
          {{ convertNumberToHours(release.hoursBudget) }}
        </div>
      </div>
    </div>
    <div class="body-1 -line-element">
      {{ convertNumberToHours(release.billableHoursBudget) }}
    </div>
    <div class="-release-table-line-edit-and-report">
      <button mat-icon-button (click)="openEditRelease(release)">
        <span class="material-symbols-outlined -edit-button-icon"
          >ink_marker
        </span>
      </button>
      <div>
        <button
          mat-flat-button
          extended
          class="-report-button"
          (click)="openReport(release)"
        >
          <div class="-report-button-elements">
            <span class="material-symbols-outlined">chair</span>
            <div class="body-2">Report</div>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
