@import 'libs/ui/core/consts.scss';
@import 'libs/ui/core/mixins.scss';
@import '../../../../../../../../app.component.scss';

.-release {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid map-get($palette-grey, 300);
  padding: 0px 40px;
  height: 80px;

  &__data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    width: 100%;

    & > div {
      padding: 0px 10px;
    }

    &--completed {
      text-decoration: line-through;
    }

    &__section {
      min-width: 110px;
      padding: 0px 10px;

      &__date {
        color: rgba(0, 0, 0, 0.25);
      }

      &__progress {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        padding: 0px 10px;
        column-gap: 10%;

        &__bar {
          max-width: 100px;
        }

        &__hours {
          display: flex;
          flex-direction: row;

          &--executed {
            color: map-get($palette-primary, 500);
          }

          &--planned {
            color: $general-header-color;
          }
        }
      }
    }

    &__options {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;

      &__icon {
        color: rgba(0, 0, 0, 0.5);
      }

      &__report {
        background-color: map-get($palette-primary, 50);
        color: map-get($palette-primary, 500);
        padding: 20px;
        border-radius: 10px;

        &__content {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 5%;
        }
      }
    }
  }
}
