<lib-dialog-template
  [cTitle]="title"
  [isFooterEnabled]="true"
  (closeDialog)="cancel()"
  [isLoading]="isLoading"
  [isError]="hasErrors"
>
  <div body>
    <form class="-form p-0" [formGroup]="formHelper.form">
      <div class="row mb-2">
        <mat-form-field appearance="outline" class="-form__field">
          <mat-label>Icona</mat-label>
          <mat-select
            matInput
            placeholder="Icona"
            formControlName="iconName"
            [(value)]="currentIconName"
          >
            <mat-select-trigger>
              <span class="material-symbols-outlined">{{currentIconName}}</span>
            </mat-select-trigger>
            <mat-option *ngFor="let icon of icons" [value]="icon">
              <span class="material-symbols-outlined">{{icon}}</span>
            </mat-option>
          </mat-select>
          <mat-error *ngFor="let error of [RT_FORM_ERRORS['REQUIRED']]">
            <div
              *ngIf="formHelper.form.controls['iconName'].hasError(error.name)"
            >
              {{ error.message }}
            </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col" appearance="outline" class="-form__field">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Nome" formControlName="name" />
          <mat-error *ngFor="let error of [RT_FORM_ERRORS['REQUIRED']]">
            <div *ngIf="formHelper.form.controls['name'].hasError(error.name)">
              {{ error.message }}
            </div>
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div footer class="-footer">
    <button
      *ngIf="!isCreating"
      (click)="deleteEntity()"
      class="rt-btn -footer__button -footer__button--delete"
      mat-button
      type="button"
    >
      Elimina
    </button>
    <lib-rt-dialog-default-actions
      (confirm)="onSubmit()"
      (cancel)="cancel()"
    ></lib-rt-dialog-default-actions>
  </div>
</lib-dialog-template>
