<lib-dialog-template
  [title]="title"
  [isFooterEnabled]="true"
  (closeDialogEvent)="onCancel()"
  (reFetchEvent)="onReFetch()"
  [isLoading]="isLoading"
  [isError]="hasErrors"
  [errorMessage]="errorMessage"
>
  <div body>
    <form class="-form p-0" [formGroup]="hoursTagFormGroup">
      <div class="row mb-2">
        <mat-form-field appearance="outline" class="-form__field">
          <mat-label>Icona</mat-label>
          <mat-select
            matInput
            placeholder="Icona"
            formControlName="iconName"
            [compareWith]="compareIconFn"
          >
            <mat-select-trigger>
              <span class="material-symbols-outlined"
                >{{hoursTagFormGroup.get('iconName')?.value}}</span
              >
            </mat-select-trigger>
            <mat-option *ngFor="let icon of icons" [value]="icon">
              <span class="material-symbols-outlined">{{icon}}</span>
            </mat-option>
          </mat-select>
          <mat-error *ngFor="let error of [RT_FORM_ERRORS['REQUIRED']]">
            <div *ngIf="getFormControlError('iconName',error)">
              {{ error.message }}
            </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col" appearance="outline" class="-form__field">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Nome" formControlName="name" />
          <mat-error *ngFor="let error of [RT_FORM_ERRORS['REQUIRED']]">
            <div *ngIf="getFormControlError('name',error)">
              {{ error.message }}
            </div>
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div footer class="-footer">
    <button
      *ngIf="transactionStatus === 'update'"
      (click)="onDelete()"
      class="rt-btn -footer__button -footer__button--delete"
      mat-button
      type="button"
    >
      Elimina
    </button>
    <lib-rt-dialog-default-actions
      (confirmEvent)="onSubmit()"
      (cancelEvent)="onCancel()"
    ></lib-rt-dialog-default-actions>
  </div>
</lib-dialog-template>
