<controllo-ore-x-index-template
  [page]="this"
  [buttonIcon]="buttonIcon"
  [buttonText]="buttonText"
  [shouldHideCreateButton]="true"
  [hasCalendar]="true"
  [isPageWithTable]="false"
  (openDialogEvent)="openDialogFn($event)"
></controllo-ore-x-index-template>

<div class="-subtitle">
  <div class="-subtitle__text">
    <h2 class="body-1">Quanto hai lavorato oggi</h2>
    <span class="headline-5">{{ convertNumberToHours(workedHours) }}</span>
  </div>
  <div>
    <button
      class="-subtitle__button"
      mat-flat-button
      color="primary"
      (click)="createFn()"
    >
      <div class="-subtitle__button__elements">
        <span class="material-symbols-outlined">{{ buttonIcon }}</span>
        <span class="body-2 -subtitle__button__elements__text"
          >{{ buttonText }}</span
        >
      </div>
    </button>
  </div>
</div>

<div class="-content">
  <div *ngIf="isLoading.value">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div *ngIf="userHours.length > 0 && !isLoading.value">
    <controllo-ore-x-tracker-table-line
      *ngFor="let userHour of userHours"
      [userHour]="userHour"
      (onUserHourUpdatedEvent)="onUserHourUpdated()"
    ></controllo-ore-x-tracker-table-line>
  </div>
  <div
    *ngIf="userHours.length == 0 && !isLoading.value"
    class="-content--no-userHours"
  >
    Nessuna attività
  </div>
</div>
