<!--<controllo-ore-x-global-topbar></controllo-ore-x-global-topbar>

<div class="page">
  <div class="sidebar-container"
  [class.is-close]="!isSidebarOpen">
    <controllo-ore-x-sidenav></controllo-ore-x-sidenav>
  </div>


  <div class="main-container" 
  [class.full-page]="!isSidebarOpen">
    <controllo-ore-x-page-title></controllo-ore-x-page-title>
    <controllo-ore-x-projects-table-header></controllo-ore-x-projects-table-header>
    <controllo-ore-x-projects-release-table-line></controllo-ore-x-projects-release-table-line>
    <controllo-ore-x-tracker-table-line></controllo-ore-x-tracker-table-line>
    <controllo-ore-x-team-table-line></controllo-ore-x-team-table-line>
    <controllo-ore-x-customer-table-line></controllo-ore-x-customer-table-line>
    <controllo-ore-x-report-table-line></controllo-ore-x-report-table-line>
    <controllo-ore-x-calendar-widget></controllo-ore-x-calendar-widget>
  </div>

</div>

<controllo-ore-x-login></controllo-ore-x-login>
-->

<h1>Dashboard</h1>