@import 'libs/ui/core.scss';

:host {
  .-body {
    padding: 40px;
    .-wrapper-price-list-upsert {
      background: map-get($palette-white, 50);
      border-radius: 10px;

      border: 1px solid map-get($palette-grey, 200);
      padding: 40px 35px 40px 30px;
      box-sizing: border-box;
      margin-bottom: 20px;
    }
  }
}
