<controllo-ore-x-upsert-template [page]="this" [isMoreOptionHidden]="false">
  <div body class="-wrapper">
    <div class="-wrapper-user-upsert">
      <form class="container" [formGroup]="formHelper.form">
        <div class="row mb-2 -wrapper-user-upsert-form">

          <mat-form-field class="col" appearance="outline">
            <mat-label>Versione</mat-label>
            <input matInput placeholder="Versione" formControlName="version" />
            <mat-error *ngFor="let error of [RT_FORM_ERRORS['REQUIRED']]">
              <div
                *ngIf="formHelper.form.controls['version'].hasError(error.name)"
              >
                {{ error.message }}
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="col" appearance="outline">
            <mat-label>Budget ore</mat-label>
            <input
            type="number"
              matInput
              placeholder="Budget ore"
              formControlName="hoursBudget"
            />
            <mat-error *ngFor="let error of [RT_FORM_ERRORS['REQUIRED']]">
              <div
                *ngIf="formHelper.form.controls['hoursBudget'].hasError(error.name)"
              >
                {{ error.message }}
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="col" appearance="outline">
            <mat-label>Budget ore fatturabili</mat-label>
            <input
            type="number"
              matInput
              placeholder="Budget ore fatturabili"
              formControlName="billableHoursBudget"
            />
            <mat-error *ngFor="let error of [RT_FORM_ERRORS['REQUIRED']]">
              <div
                *ngIf="formHelper.form.controls['billableHoursBudget'].hasError(error.name)"
              >
                {{ error.message }}
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="col" appearance="outline">
            <mat-label>Data di scadenza</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              placeholder="Data di scadenza"
              formControlName="deadline"
            />
            <mat-error *ngFor="let error of [RT_FORM_ERRORS['REQUIRED']]">
              <div
                *ngIf="formHelper.form.controls['deadline'].hasError(error.name)"
              >
                {{ error.message }}
              </div>
            </mat-error>
            <mat-datepicker-toggle matIconSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </form>
    </div>
  </div>
</controllo-ore-x-upsert-template>
