@import 'libs/ui/core';
@import '../../../../styles/styles.scss';

.-calendar {
  display: flex;
  align-items: center;
  background-color: map-get($palette-accent, 200);
  border-radius: 10px;

  .mat-mdc-form-field {
    @extend .subtitle-1 !optional;
  }

  &__icon {
    color: #000;
  }
}

//remove the border from the input
::ng-deep
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline__leading,
::ng-deep
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline__trailing {
  border-color: transparent !important;
}

::ng-deep .mat-date-range-input-wrapper {
  width: 70px;
}
