<div class="-team-table-line">
    <div class="-space">
    </div>
    <img src="../../../../../../../assets/team-avatars/marco_mula.png" alt="Avatar" class="-avatar">
    <div class="-team-table-line-data-and-edit">
        <div class="-team-table-line-data">
        <div class="-team-table-line-single-data">{{ name }}</div>
        <div class="-team-table-line-single-data">{{ email }}</div>
        <div class="-team-table-line-single-data">{{ creation_date }}</div>
        <div class="-team-table-line-single-data"><mat-chip class="-role-chip">{{ role }}</mat-chip></div>

        </div>
        <div><span class="material-symbols-outlined icon">ink_marker</span></div>
    </div>

    
  </div>