@import 'libs/ui/core';

.-release-status-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-top: 1px solid map-get($palette-grey, 200 );
  border-bottom: 1px solid map-get($palette-grey, 200 );
}

h2{
  color: rgba(0, 0, 0, 0.5);
}

.-release-status-single-data{
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  width: 100%;
}

.-release-status-single-data-with-borders{
  border-right: 1px solid map-get($palette-grey, 200 );
  border-left: 1px solid map-get($palette-grey, 200 );
}

.-release-number-and-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.-progress-bar{
  max-width: 100px;
}

.-release-status-single-data-icon{
  color: map-get($palette-primary, 500 );
}