<div class="-status">
  <div class="-status__container">
    <div class="-status__container__data">
      <h2 class="subtitle-1 -status__container__data__title">
        Releases totali
      </h2>
      <div class="headline-4">
        {{ totalReleases }}
      </div>
    </div>

    <div
      class="-status__container__data -status__container__data--with-borders"
    >
      <h2 class="subtitle-1 -status__container__data__title">
        Release in corso
      </h2>
      <div class="-status__container__data__elements">
        <div class="headline-4">
          {{ inProgressReleases }}
        </div>
        <mat-progress-bar
          class="-status__container__data__elements__progress-bar"
          mode="determinate"
          value="60"
          color="primary"
        >
        </mat-progress-bar>
      </div>
    </div>

    <div class="-status__container__data">
      <h2 class="subtitle-1 -status__container__data__title">
        Release completate
      </h2>
      <div class="-status__container__data__elements">
        <div class="headline-4">
          {{ completedReleases }}
        </div>
        <span
          class="material-symbols-outlined -status__container__data__elements--completed"
          >check</span
        >
      </div>
    </div>
  </div>
  <div class="-status__cards" *ngIf="tags.length > 0">
    <div class="-status__cards__card">
      <controllo-ore-x-project-activity-card
        *ngFor="let tag of tags"
        [tagWithHours]="tag"
      >
      </controllo-ore-x-project-activity-card>
    </div>
  </div>
</div>
