<div class="-release-status-container">
  <div class="-release-status-single-data">
    <h2 class="subtitle-1">Release totali</h2>
    <div class="headline-4">
      {{ totalReleases }}
    </div>
  </div>

  <div
    class="-release-status-single-data -release-status-single-data-with-borders"
  >
    <h2 class="subtitle-1">Release in corso</h2>
    <div class="-release-number-and-bar">
      <div class="headline-4">
        {{ inProgressReleases }}
      </div>
      <mat-progress-bar
        class="-progress-bar"
        mode="determinate"
        value="60"
        color="primary"
      >
      </mat-progress-bar>
    </div>
  </div>

  <div class="-release-status-single-data">
    <h2 class="subtitle-1">Release completate</h2>
    <div class="-release-number-and-bar">
      <div class="headline-4">
        {{ doneReleases }}
      </div>
      <span class="material-symbols-outlined -release-status-single-data-icon"
        >check</span
      >
    </div>
  </div>
</div>
<div class="-cards-container" *ngIf="tags.length > 0">
  <div class="-cards">
    <controllo-ore-x-project-activity-card
      *ngFor="let tag of tags"
      [tagWithHours]="tag"
    >
    </controllo-ore-x-project-activity-card>
  </div>
</div>
